body {
    background: #eef8ff;
    display: flex;
    justify-content: center;
}

.content-box {
    background: white;
    max-width: 500px;
    width: 355px;
    box-sizing: border-box;
    padding: 40px;
    margin-top: 15vh;
    box-shadow: 0 0 20px #8E97A6;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

h1 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #32353B;
    text-align: center;
    margin-top: 0;
}

input {
    border-radius: 3px;
    border-width: 2px;
    border-color: #FCDF8A;
    box-shadow: none;
    padding: 5px 10px;
    border-style: solid;
    font-size: 13pt;
    margin: 1.1em 5px 0;
}

button {
    margin: 10px auto 0 auto;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px #8E97A6;
    border: none;
    font-size: 14pt;
    background: linear-gradient(135deg,#FCDF8A,#F38381);
    cursor: pointer;
    transition: ease transform 0.1s;
}

button:hover {
    transform: scale(1.15);
    transition: ease transform 0.1s;
}

form {
    margin-block-end: 0;
}

p {
    margin: 10px 0;
    line-height: 1.3;
    font-family: "Adobe Caslon Pro", serif;
}

img {
    margin: 10px auto;
    box-shadow: 0 0 10px #8E97A6 inset;
    border-radius: 5px;
}

nav * {
    text-transform: uppercase;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    text-decoration: none;
    position: absolute;
}

nav :first-child {
    font-size: 32pt;
    top: 30px;
    left: 50px;
}

nav :nth-child(2) {
    font-size: 10pt;
    bottom: 20px;
    right: -10px;
    transform: rotate(90deg);
}